**.idea/
**.ipynb_checkpoints/
.vscode/
data/
env/
venv/
venv
images/
videos/
results/
results
**__pycache__
**.pyc
.onager
archive/
*.vagrant/
*.sif
logs/
.DS_Store
*.bin
*.egg-info/
.onager
generated/
scripts/runs/
